.about .container {
  overflow: hidden;
}

.about .swiper-slide .card .card-image img {
  width: 100%;
}

.about {
  /* Common Styles */
}

.about .swiper-container {
  margin-top: 50px;
  overflow: visible;
}

.about .swiper-wrapper {
  padding-bottom: 50px;
  overflow: hi;
}

.about .swiper-slide {
  width: auto;
}

@media (max-width: 575.98px) {
  .about .swiper-slide {
    width: 100% !important;
  }
}

.about .swiper-button-prev,
.about .swiper-container-rtl .swiper-button-next {
  right: auto;
  outline: none;
}

@media (max-width: 575.98px) {
  .about .swiper-button-prev,
  .about .swiper-container-rtl .swiper-button-next {
    left: 0;
  }
}

.about .swiper-button-prev:after,
.about .swiper-container-rtl .swiper-button-next:after {
  content: url(../img/icons/fa_angle_left_417.png);
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.about .swiper-button-next,
.about .swiper-container-rtl .swiper-button-prev {
  left: auto;
  outline: none;
}

@media (max-width: 575.98px) {
  .about .swiper-button-next,
  .about .swiper-container-rtl .swiper-button-prev {
    right: 0;
  }
}

.about .swiper-button-next:after,
.about .swiper-container-rtl .swiper-button-prev:after {
  content: url(../img/icons/fa_angle_left_417.png);
}

.about .swiper-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 575.98px) {
  .about .swiper-pagination-fraction,
  .about .swiper-pagination-custom,
  .about .swiper-container-horizontal > .swiper-pagination-bullets {
    width: 70%;
    left: 15%;
  }
}
