@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

@font-face {
  font-family: 'Conv_Khyay-Regular';
  src: url("../fonts/Khyay-Regular.eot");
  src: local("☺"), url("../fonts/Khyay-Regular.woff") format("woff"), url("../fonts/Khyay-Regular.ttf") format("truetype"), url("../fonts/Khyay-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

.hide {
  display: none !important;
}

.mobile_nav {
  font-family: "Conv_Khyay-Regular";
  position: fixed;
  overflow-y: scroll;
  top: 0;
  right: 0;
  z-index: 25;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  background-color: #fff;
  min-width: 100%;
  min-height: 100%;
}

.mobile_nav .close {
  position: absolute;
  right: 32px;
  top: 32px;
  width: 30px;
  height: 30px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.mobile_nav .close::before, .mobile_nav .close::after {
  content: '';
  position: absolute;
  left: 15px;
  height: 33px;
  width: 2px;
  background-color: #000;
}

.mobile_nav .close::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.mobile_nav .close:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.mobile_nav ul li {
  margin: 0 0 60px 0;
}

.mobile_nav ul li a {
  font-size: 30px;
  line-height: 1.3;
  letter-spacing: 0.1em;
  color: #000;
}

.mobile_nav ul li:last-child {
  margin: 0;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 100%;
  overflow: hidden;
}

.wrapper .content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 4%;
}

.intro {
  background-color: #000;
  font-family: "Conv_Khyay-Regular";
  height: 100%;
}

.intro .intro_internal nav {
  padding: 3% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.intro .intro_internal nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.intro .intro_internal nav ul li {
  margin: 0 60px 0 0;
}

.intro .intro_internal nav ul li a {
  font-size: 20px;
  line-height: 1.3;
  letter-spacing: 0.1em;
  color: #fff;
}

.intro .intro_internal nav ul li:last-child {
  margin: 0;
}

.intro .intro_internal nav .mobile_nav_icon {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 35px;
  height: 25px;
}

.intro .intro_internal nav .mobile_nav_icon div {
  width: 100%;
  height: 3px;
  background-color: #fff;
}

.intro .intro_internal header {
  padding: 8.5% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.intro .intro_internal header .heading {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  color: #fff;
  font-size: 153px;
  line-height: 1.2;
  padding: 0 0 5% 0;
}

.intro .intro_internal header .heading div:first-child {
  margin: 0 0 0 -10%;
}

.intro .intro_internal header .heading div:last-child {
  margin: 0 0 0 10%;
}

.intro .intro_internal header .description {
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.05em;
  color: #fff;
  opacity: 0.5;
}

.intro .intro_internal header .description p:first-child {
  margin: 0 0 5px 0;
}

.skills {
  padding: 7% 0;
  font-family: "Open Sans", sans-serif;
}

.skills .skills_internal ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.skills .skills_internal ul li {
  margin: 0 40px 30px 0;
  font-size: 32px;
  line-height: 1.3;
  letter-spacing: 0.03em;
}

.skills .skills_internal ul li:last-child {
  margin: 0;
}

.portfolio {
  background-color: #000;
  padding: 7% 0 5% 0;
}

.portfolio .portfolio_internal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.portfolio .portfolio_internal .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 27%;
          flex: 0 1 27%;
  padding: 0 0 4% 0;
  color: #fff;
  font-family: "Open Sans", sans-serif;
}

.portfolio .portfolio_internal .item .image {
  width: 100%;
  padding-top: 60%;
  position: relative;
  margin: 0 0 17px 0;
}

.portfolio .portfolio_internal .item .image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 2;
}

.portfolio .portfolio_internal .item .work_name {
  font-family: "Conv_Khyay-Regular";
  font-size: 25px;
  line-height: 1.1;
  letter-spacing: 0.03em;
}

.portfolio .portfolio_internal .item .line {
  height: 1px;
  width: 100%;
  background-color: #fff;
  margin: 10px 0;
}

.portfolio .portfolio_internal .item .info {
  font-size: 17px;
  line-height: 1.3;
  letter-spacing: 0.05em;
  margin: 0 0 10px 0;
}

.portfolio .portfolio_internal .item .more a {
  color: #fff;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: 0.05em;
}

.contacts {
  padding: 7% 0;
  font-family: "Open Sans", sans-serif;
}

.contacts .contacts_internal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contacts .contacts_internal ul.links li {
  text-align: center;
  margin: 0 0 25px 0;
}

.contacts .contacts_internal ul.links li:last-child {
  margin: 0;
}

.contacts .contacts_internal ul.links li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contacts .contacts_internal ul.links li a img {
  width: 35px;
  height: 35px;
  margin: 0 15px 0 0;
}

.contacts .contacts_internal ul.links li a span {
  color: #000;
  font-size: 30px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

footer {
  padding: 3% 0;
  background-color: #000;
  text-align: center;
  color: #fff;
  font-size: 16px;
  line-height: 1.1;
}
