
/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

/* 
font-family: 'Raleway', sans-serif;
font-family: 'Merriweather', serif;
font-family: 'Montserrat', sans-serif;
*/

body {
   font-family: 'Montserrat', sans-serif;
}

.wrapper {
   display: -ms-flexbox;
   display: flex;
   -ms-flex-direction: column;
   flex-direction: column;
   overflow: hidden;
   min-height: 100%;
}

.content {
   -ms-flex: 1 1 auto;
   flex: 1 1 auto;
}

.container {
   max-width: 1150px;
   min-width: 300px;
   margin: 0 auto;
   padding: 0 20px;
}

.title {
   font-family: 'Montserrat', sans-serif;
   font-size: 38px;
   font-weight: 700;
   text-transform: uppercase;
   letter-spacing: 0.06em;
   color: #000000;
   text-align: center;
   margin: 0 0 10px 0;
}

.subtitle {
   opacity: 0.60;
   font-family: 'Merriweather', serif;
   font-size: 18px;
   text-transform: uppercase;
   letter-spacing: 0.06em;
   color: #000000;
   text-align: center;
   margin: 0 0 8% 0;
}

.show-more{
   display: none;
   -ms-flex-pack: center;
   justify-content: center;
   text-align: center;
   text-transform: uppercase;
   background-color: rgba(2, 22, 35, 0.7);
   padding: 25px 0;
   position: relative;
}

.show-more p {
   color: #ffffff;
   font-size: 20px;
   line-height: 1;
   font-weight: 500;
   margin: 0 15px 0 0;
}

.icon-d-a{
   -ms-flex-item-align: center;
   align-self: center;
   fill: #ffffff;
   width: 20px;
   height: 20px;
}

.show-more:hover p{
   color: #6eeee4;
}

.show-more:hover .icon-d-a{
   fill: #6eeee4;
}



/*-------------------------------INTRO---------------------------------*/

.intro {
   background-color: #eff0f2;
   font-family: 'Montserrat', sans-serif;
}

.intro-basis {
   padding: 3% 0 10% 0;
}

/*header*/

.intro-basis__header {
   display: -ms-flexbox;
   display: flex;
   -ms-flex-pack: justify;
   justify-content: space-between;
   margin: 0 0 15% 0;
}

.intro-basis__header__icon {
   border: 5px solid #000000;
   font-size: 17px;
   font-weight: 700;
   text-transform: uppercase;
   letter-spacing: 0.06em;
   padding: 8px 13px;
   cursor: 	default;
}

.intro-basis__header__icon span {
   font-size: 21px;
   color: #6eeee4;
}

/*burger-menu*/

.intro-basis__header__burger {
   cursor: pointer;
   -ms-flex-item-align: center;
   align-self: center;
   position: relative;
}

.intro-basis__header__burger__lines {
   width: 35px;
   display: -ms-flexbox;
   display: flex;
   -ms-flex-direction: column;
   flex-direction: column;
}

.intro-basis__header__burger__lines__line {
   width: 100%;
   height: 4px;
   background-color: #000000;
   border-radius: 1.5px;
   margin: 0 0 4px 0;
}

.intro-basis__header__burger__lines__line:last-child {
   margin: 0;
}

.intro-basis__header__burger__menu {
   display: -ms-flexbox;
   display: flex;
   -ms-flex-direction: column;
   flex-direction: column;
   -ms-flex-pack: distribute;
   justify-content: space-around;
   position: absolute;
   right: 0;
   top: 35px;
   text-align: center;
   background-color: rgba(2, 22, 35, 0.9);
   width: 220px;
   height: 300px;
   padding: 5px;
   z-index: 49;
}

.intro-basis__header__burger__menu li a {
   color: #ffffff;
   text-transform: uppercase;
   font-size: 16px;
   font-weight: 500;
   letter-spacing: 0.1em;
   border-bottom: 2px solid#000000;
   transition-duration: 0.5s;
}

.intro-basis__header__burger__menu li a:hover {
   border-bottom: 2px solid#6eeee4;
}

/*INTRO main part*/

.intro-basis__body {
   display: -ms-flexbox;
   display: flex;
   -ms-flex-direction: column;
   flex-direction: column;
   -ms-flex-align: center;
   align-items: center;
   position: relative;
}

.intro-basis__body__title {
   margin: 0 0 15% 0;
   text-align: center;
}

.intro-basis__body__title h1,
h2 {
   font-size: 47px;
   line-height: 1.1;
   font-weight: 700;
   text-transform: uppercase;
   letter-spacing: 0.06em;
   color: #505050;
   text-shadow: 4px 8px 8px rgba(0, 0, 0, 0.23);
}

.intro-basis__body__title span {
   background-color: #6eeee4;
   padding: 0 10px;
}

.intro-basis__body__title h1 {
   margin: 0 0 15px 0;
}


.intro-basis__body__button a {
   display: inline-block;
   font-size: 18px;
   text-transform: uppercase;
   letter-spacing: 0.12em;
   color: #000000;
   border: 2px solid #000000;
   border-radius: 2px;
   padding: 15px 40px;
   transition-duration: 0.5s;
}

.intro-basis__body__button a:hover {
   background-color: #6eeee4;
}

.intro-basis__body__image{
   position: absolute;
   bottom: -20%;
   right: 0;
}

.intro-basis__body__image img {
   width: 150px;
}

/*----------------------------------------------------------------*/

/*-------------------------------ABOUT US---------------------------------*/

.about {
   background-color: #f8fafa;
}

.about-basis {
   padding: 5% 0;
}

.about-basis__row {
   display: -ms-flexbox;
   display: flex;
   -ms-flex-pack:distribute;
   justify-content:space-around;
}

/*image*/

.about-basis__row__image {
   -ms-flex: 0 1 auto;
   flex: 0 1 auto;
   display: -ms-flexbox;
   display: flex;
   -ms-flex-pack: center;
   justify-content: center;
   -ms-flex-align: center;
   align-items: center;
}

.about-basis__row__image img {
   max-width: 100%;
   -ms-flex-item-align: center;
   align-self: center;
}

/*text styles*/

.about-basis__row__text {
   -ms-flex: 0 1 480px;
   flex: 0 1 480px;
   margin: 0 0 0 5px;
}

.about-basis__row__text__block1 {
   width: 100%;
   margin: 0 0 20px 0;
}

.about-basis__row__text__block2 {
   width: 100%;
}

.about-basis__row__text__block__title {
   font-family: 'Merriweather', serif;
   font-size: 20px;
   font-weight: 700;
   text-transform: uppercase;
   letter-spacing: 0.06em;
   color: #000000;
   margin: 0 0 10px 0;
}

.about-basis__row__text__block__subtitle {
   font-family: 'Raleway', sans-serif;
   font-size: 16px;
   line-height: 28px;
   font-weight: 400;
   letter-spacing: 0.05em;
   color: #000000;
}

.about-basis__row__text__block__subtitle p:first-child {
   margin: 0 0 15px 0;
}

/*----------------------------------------------------------------*/

/*-------------------------------WORKS---------------------------------*/

.works-basis {
   padding: 5% 0;
}

.works-basis__row {
   display: -ms-flexbox;
   display: flex;
   -ms-flex-pack: distribute;
   justify-content: space-around;
   -ms-flex-wrap: wrap;
   flex-wrap: wrap;
}

.works-basis__row__item {
   font-family: 'Merriweather', serif;
   -ms-flex: 0 1 30%;
   flex: 0 1 30%;
   margin: 0 0 15px 0;
   cursor: pointer;
}

.works-basis__row__item a {
   color: #000000;
}

.works-basis__row__item__image {
   width: 350px;
   height: 350px;
   display: -ms-flexbox;
   display: flex;
}

.works-basis__row__item__image__text {
   font-family: 'Raleway', sans-serif;
   opacity: 0;
   display: -ms-flexbox;
   display: flex;
   -ms-flex-direction: column;
   flex-direction: column;
   -ms-flex-pack: center;
   justify-content: center;
   -ms-flex-item-align: center;
   align-self: center;
   text-align: center;
   color: #ffffff;
   min-width: 100%;
   min-height: 100%;
   padding: 10px;
   transition-duration: 1s;
   transition-delay: 0;
}


.works-basis__row__item__image__text h3{
   font-size: 25px;
   line-height: 1.4;
   margin: 0 0 10px 0;
}

.works-basis__row__item__image__text p{
   font-size: 15px;
   line-height: 1.2;
}


.works-basis__row__item__image__text a {
   margin: 10px 0 0 0;
   color: #ffffff;
   text-transform: uppercase;
   font-weight: 500;
   font-size: 20px;
   z-index: 300;
   transition-duration: 0.5s;
}

.works-basis__row__item__image__text a:hover {
   color: #6eeeeb;
}

.works-basis__row__item__image:hover .works-basis__row__item__image__text {
   opacity: 1;
   background-color: rgba(2, 22, 35, 0.7);
}


.works-basis__row__item__image1 {
   background: url(/img/works/rectangle_2_18717.png) center no-repeat;
   background-size: cover;
}

.works-basis__row__item__image2 {
   background: url(/img/works/rectangle_2_copy_18726.png) center no-repeat;
   background-size: cover;
}

.works-basis__row__item__image3 {
   background: url(/img/works/rectangle_2_copy_2_18727.png) center no-repeat;
   background-size: cover;
}

.works-basis__row__item__image4 {
   background: url(/img/works/rectangle_2_copy_3_18728.png) center no-repeat;
   background-size: cover;
}

.works-basis__row__item__image5 {
   background: url(/img/works/rectangle_2_copy_3_18729.png) center no-repeat;
   background-size: cover;
}

.works-basis__row__item__image6 {
   background: url(/img/works/rectangle_2_copy_3_18730.png) center no-repeat;
   background-size: cover;
}

/*----------------------------------------------------------------*/

/*-------------------------------SERVICES---------------------------------*/

.services{
   background-color:#f8fafa;
   z-index: -20;
}

.services-basis {
   padding: 5% 0;
}

/*images styles*/

.black-filter{
   background: rgba(0, 0, 0, 0.6);
   width: 100%;
   height: 100%;
   display: -ms-flexbox;
   display: flex;
}

.row{
   display: -ms-flexbox;
   display: flex;
   -ms-flex-pack: distribute;
   justify-content: space-around;
}

.services-basis__blocks__row__biggerimage {
   width: 55%;
   height: 350px;
   display: -ms-flexbox;
   display: flex;
   z-index: 2;
}

.services-basis__blocks__row__littleimage {
   width: 40%;
   height: 350px;
   display: -ms-flexbox;
   display: flex;
   z-index: 2;
}


/*texts styles*/
.services-basis__blocks__row__text a {
   color: #ffffff;
}

.services-basis__blocks__row__text{
   padding: 10px 40px;
   display: -ms-flexbox;
   display: flex;
   -ms-flex-direction: column;
   flex-direction: column;
   -ms-flex-item-align: center;
   align-self: center;
}

.services-basis__blocks__row__text__title {
   font-family: 'Merriweather', serif;
   font-size: 20px;
   font-weight: 700;
   text-transform: uppercase;
   letter-spacing: 0.06em;
   margin: 0 0 5% 0;
   color: #ffffff;
}

.services-basis__blocks__row__text__subtitle {
   font-family: 'Raleway', sans-serif;
   line-height: 28px;
   letter-spacing: 0.025em;
   margin: 0 0 7% 0;
   color: #ffffff;
}

.services-basis__blocks__row__text__button a {
   display: -ms-flexbox;
   display: flex;
   font-family: 'Raleway', sans-serif;
   font-size: 18px;
   font-weight: 500;
   text-transform: uppercase;
   letter-spacing: 0.04em;
   color: #ffffff;
   opacity: 0.7;
   transition-duration: 0.5s;
}

.services-basis__blocks__row__text__button a span{
   -ms-flex-item-align: center;
   align-self: center;
}

.icon-a{
   fill: #ffffff;
   width: 30px;
   height: 30px;
   padding: 0 0 12px 10px;
}

.services-basis__blocks__row__text__button a:hover .icon-a{
   fill: #6eeee4;
   opacity: 1;
}

.services-basis__blocks__row__text__button a:hover{
   color: #6eeee4;
   opacity: 1;
}

/*--------------individual--------------*/

/*images styles*/

/*--1 line--*/

.services-basis__blocks__row1__biggerimage {
   background: url(img/services/rectangle_44_copy_3_19311.png) center no-repeat;
   background-size: cover;
   margin: 7px 0;
}

.services-basis__blocks__row1__littleimage{
   background: url(img/services/rectangle_44_copy_5_19074.png) center no-repeat;
   background-size: cover;
   margin: 7px 0;
}



/*--2 line--*/

.services-basis__blocks__row2__biggerimage {
   background: url(img/services/rectangle_44_copy_3_19104.png) center no-repeat;
   background-size: cover;
   margin: 7px 0;
   
}

.services-basis__blocks__row2__littleimage {
   background: url(img/services/rectangle_44_copy_5_19301.png) center no-repeat;
   background-size: cover;
   margin: 7px 0;
}


/*--3 line--*/

.services-basis__blocks__row3__littleimage {
   background: url(img/services/rectangle_44_copy_5_19326.png) center no-repeat;
   background-size: cover;
   margin: 7px 0;
}

.services-basis__blocks__row3__biggerimage {
   background: url(img/services/rectangle_44_copy_4_19089.png) center no-repeat;
   background-size: cover;
   margin: 7px 0;
}

/*----------------------------------------------------------------*/

/*-------------------------------TEAM---------------------------------*/

.team-basis {
   padding: 5% 0;
}

/*styles of team photos*/

.team-basis__row {
   display: -ms-flexbox;
   display: flex;
   -ms-flex-wrap: wrap;
   flex-wrap: wrap;
   -ms-flex-pack: distribute;
   justify-content: space-around;
}

.team-basis__row__item {
   -ms-flex: 0 1 30%;
   flex: 0 1 30%;
   margin: 0 0 15px 0;
}

.team-basis__row__item__photo {
   width: 350px;
   height: 440px;
   display: -ms-flexbox;
   display: flex;
   padding: 0 15px 15px;
}

/*animated block*/

.team-basis__row__item__photo__person {
   display: none;
   -ms-flex-item-align: end;
   align-self: flex-end;
   height: 55%;
   width: 100%;
   background-color: #70f6eb;
   padding: 0 25px;
   -ms-flex-align: center;
   align-items: center;
   position: relative;
   -webkit-animation-name: visible_block;
   animation-name: visible_block;
   -webkit-animation-duration: 2s;
   animation-duration: 2s;
}

@-webkit-keyframes visible_block {
   0% {
      height: 10%;
      overflow: hidden;
   }

   100% {
      height: 55%;
      overflow: visible;
   }

}

@keyframes visible_block {
   0% {
      height: 10%;
      overflow: hidden;
   }

   100% {
      height: 55%;
      overflow: visible;
   }

}

.triangle{
   width: 0;
   height: 0;
   position: absolute;
   top: -20px;
   left: 20px;
   border-left: 12px solid transparent;
   border-right: 12px solid transparent;
   border-bottom: 20px solid #70f6eb;
   z-index: 500;
}

.team-basis__row__item__photo:hover .team-basis__row__item__photo__person {
   display: -ms-flexbox;
   display: flex;
}


.team-basis__row__item__photo__person__text{
   z-index: 20;
}

.team-basis__row__item__photo__person__text__title {
   font-family: 'Merriweather', serif;
   margin: 0 0 5% 0;
   font-size: 15px;
   font-weight: 400;
   letter-spacing: 0.03em;
   color: #767070;
   font-style: italic;
}

.team-basis__row__item__photo__person__text__title span {
   opacity: 0.9;
   font-size: 20px;
   font-weight: 700;
   letter-spacing: 0.05em;
   font-style: normal;
   color: #272727;
   text-transform: uppercase;
}

.team-basis__row__item__photo__person__text__subtitle {
   opacity: 0.8;
   font-family: 'Raleway', sans-serif;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.01em;
   margin: 0 0 10% 0;
}

/*links styles*/

.team-basis__row__item__photo__person__text__social__links {
   display: -ms-flexbox;
   display: flex;
}

.team-basis__row__item__photo__person__text__social__links a {
   margin: 0 10px 0 0;
}

.team-basis__row__item__photo__person__text__social__links a:last-child {
   margin: 0;
}

.team-basis__row__item__photo__person__text__social__links a img {
   -ms-flex-item-align: center;
   align-self: center;
   opacity: 0.7;
}

.team-basis__row__item__photo__person__text__social__links a img:hover {
   opacity: 1;
}


/*--------------individual--------------*/

/*background-images*/

.team-basis__row__item__photo1 {
   background: url(img/people/rectangle_40_19149.png) center no-repeat;
   background-size: cover;
}

.team-basis__row__item__photo2 {
   background: url(img/people/rectangle_40_copy_5_20082.png) center no-repeat;
   background-size: cover;
}

.team-basis__row__item__photo3 {
   background: url(img/people/rectangle_40_copy_6_20083.png) center no-repeat;
   background-size: cover;
}

.team-basis__row__item__photo4 {
   background: url(img/people/rectangle_40_copy_7_20084.png) center no-repeat;
   background-size: cover;
}

.team-basis__row__item__photo5 {
   background: url(img/people/rectangle_40_copy_7_20085.png) center no-repeat;
   background-size: cover;
}

.team-basis__row__item__photo6 {
   background: url(img/people/rectangle_40_copy_7_20086.png) center no-repeat;
   background-size: cover;
}


/*----------------------------------------------------------------*/

/*-------------------------------FEEDBACK---------------------------------*/

.feedback {
   background-color: #f9fbfb;
}

.feedback-basis {
   padding: 5% 0;
}

.feedback-basis__item{
   display: -ms-flexbox;
   display: flex;
   -ms-flex-pack: justify;
   justify-content: space-between;
   margin: 20px 20px 0 30px;
}

.feedback-basis__item__image {
   display: -ms-flexbox;
   display: flex;
   -ms-flex-pack: center;
   justify-content: center;
   -ms-flex-item-align: center;
   align-self: center;
   -ms-flex: 0 1 320px;
   flex: 0 1 320px;
   margin: 0 20px 0 0;
   position: relative;
}

.bottom-image{
   position: absolute;
   z-index: 0;
   bottom: 16%;
   left: -8%;
   width: 370px;
   height: 260px;
}

.top-image{
   -ms-flex-item-align: center;
   align-self: center;
   width: 100%;
   box-shadow: 2px 6px 24px 0px rgba(19, 19, 21, 0.17);
   border-radius: 3px;
   z-index: 20;
}


.feedback-basis__item__review-card {
   display: -ms-flexbox;
   display: flex;
   -ms-flex-item-align: center;
   align-self: center;
   background-color: #eaebed;
   -ms-flex: 0 1 650px;
   flex: 0 1 650px;
}

.feedback-basis__item__review-card__text {
   width: 100%;
   border-radius: 3px;
   -ms-flex-align: center;
   align-items: center;
   display: -ms-flexbox;
   display: flex;
   -ms-flex-direction: column;
   flex-direction: column;
   -ms-flex-pack: center;
   justify-content: center;
   text-align: center;
   padding: 50px 30px;
}

.feedback-basis__item__review-card__text__title {
   font-size: 15px;
   font-weight: 400;
   color: #787878;
   font-style: italic;
   text-transform: uppercase;
   margin: 0 0 20px 0;
}

.feedback-basis__item__review-card__text__title span {
   font-family: 'Merriweather', serif;
   font-size: 20px;
   font-weight: 700;
   letter-spacing: 0.06em;
   color: #000000;
   font-style: normal;
   text-transform: uppercase;
}

.feedback-basis__item__review-card__text__subtitle {
   opacity: 0.7;
   font-family: 'Raleway', sans-serif;
   line-height: 27px;
   font-weight: 400;
   letter-spacing: 0.06em;
   color: #000000;
   margin: 0 0 25px 0;
}

.feedback-basis__item__review-card__text__stars {
   display: -ms-flexbox;
   display: flex;
}

.feedback-basis__item__review-card__text__stars img {
   margin: 0 10px 0 0;
}

.feedback-basis__item__review-card__text__stars img:last-child {
   margin: 0;
}


/*----------------------------------------------------------------*/

/*----------------------------COMPANIES------------------------------*/

.companies-basis {
   padding: 5% 0;
}
.companies-basis__row {
   display: -ms-flexbox;
   display: flex;
   -ms-flex-pack: center;
   justify-content: center;
   -ms-flex-wrap: wrap;
   flex-wrap: wrap;
}

/*----------------------------------------------------------------*/

/*-------------------------------CONTACTS---------------------------------*/


.contacts {
   font-family: 'Raleway', sans-serif;
   position: relative;
   background: url(img/background/christmas_snow_trees_wide_19660.png) center no-repeat;
   background-size: cover;
   width: 100%;
   height: 100%;
}

.dark-filter{
   background: rgba(248, 250, 251, 0.67);
}

.contacts-basis {
   padding: 5% 0;
   z-index: 50;
}

.contacts-basis__row {
   display: -ms-flexbox;
   display: flex;
   -ms-flex-pack: justify;
   justify-content: space-between;
}

/*forms*/

.contacts-basis__row__forms {
   width: 58%;
   background-color: rgba(2, 22, 35, 0.7);
   box-shadow: 0px 0px 30px 0px rgba(21, 21, 21, 0.11);
   padding: 20px;
}

.forms {
   display: -ms-flexbox;
   display: flex;
}

.form__inputs {
   width: 100%;
   display: -ms-flexbox;
   display: flex;
   -ms-flex-direction: column;
   flex-direction: column;
}

.form__inputs input::-webkit-input-placeholder {
   font-size: 15px;
   line-height: 15px;
   color: #ffffff;
   opacity: 0.6;
}

.form__inputs input::-moz-placeholder {
   font-size: 15px;
   line-height: 15px;
   color: #ffffff;
   opacity: 0.6;
}

.form__inputs input:-ms-input-placeholder {
   font-size: 15px;
   line-height: 15px;
   color: #ffffff;
   opacity: 0.6;
}

.form__inputs input::-ms-input-placeholder {
   font-size: 15px;
   line-height: 15px;
   color: #ffffff;
   opacity: 0.6;
}

.form__inputs input::placeholder {
   font-size: 15px;
   line-height: 15px;
   color: #ffffff;
   opacity: 0.6;
}

.form__inputs input {
   height: 40px;
   border-bottom: 1px solid rgba(255, 255, 255, 0.6);
   margin: 0 0 20px 0;
   font-size: 18px;
   color: #ffffff;
   padding: 0 0 0 5px;
   background: transparent;
   transition-duration: 0.5s;
}

.form__inputs input:focus {
   border-bottom: 2px solid #6eeee4;
}

.submit__button input {
   width: 245px;
   height: 50px;
   background-color: #6eeee4;
   border-radius: 2px;
   cursor: pointer;
   font-family: 'Montserrat', sans-serif;
   font-size: 18px;
   font-weight: 500;
   text-transform: uppercase;
   letter-spacing: 0.12em;
   color: #000000;
}

.submit__button input:hover{
   color: #ffffff;
}

.form__inputs textarea::-webkit-input-placeholder {
   font-family: 'Raleway', sans-serif;
   font-size: 15px;
   font-weight: 400;
   color: #ffffff;
   opacity: 0.6;
}

.form__inputs textarea::-moz-placeholder {
   font-family: 'Raleway', sans-serif;
   font-size: 15px;
   font-weight: 400;
   color: #ffffff;
   opacity: 0.6;
}

.form__inputs textarea:-ms-input-placeholder {
   font-family: 'Raleway', sans-serif;
   font-size: 15px;
   font-weight: 400;
   color: #ffffff;
   opacity: 0.6;
}

.form__inputs textarea::-ms-input-placeholder {
   font-family: 'Raleway', sans-serif;
   font-size: 15px;
   font-weight: 400;
   color: #ffffff;
   opacity: 0.6;
}

.form__inputs textarea::placeholder {
   font-family: 'Raleway', sans-serif;
   font-size: 15px;
   font-weight: 400;
   color: #ffffff;
   opacity: 0.6;
}

.form__inputs textarea {
   width: 100%;
   height: 140px;
   border-bottom: 1px solid rgba(255, 255, 255, 0.6);
   font-size: 18px;
   color: #ffffff;
   padding: 0 0 0 5px;
   margin: 0 0 30px 0;
   background: transparent;
   resize: none;
   overflow: auto;
   transition-duration: 0.5s;
}

.form__inputs textarea:focus {
   border-bottom: 2px solid #6eeee4;
}

/*addresses and map*/

.contacts-basis__row__adress {
   display: -ms-flexbox;
   display: flex;
   -ms-flex-direction: column;
   flex-direction: column;
   -ms-flex-pack: justify;
   justify-content: space-between;
   width: 40%;
   background-color: rgba(2, 22, 35, 0.7);
   box-shadow: 0px 0px 3px 0px rgba(21, 21, 21, 0.15);
   padding: 20px;
}

.contacts-basis__row__adress__text {
   opacity: 0.7;
   font-family: 'Raleway', sans-serif;
   font-size: 15px;
   color: #ffffff;
   line-height: 1.5;
   margin: 0 0 30px 0;
}

.contacts-basis__row__adress__links p{
   opacity: 0.7;
   font-family: 'Raleway', sans-serif;
   color: #ffffff;
   font-size: 15px;
   line-height: 1.3;
   margin: 0 0 20px 0;
}

.contacts-basis__row__adress__links p a{
   color: #ffffff;
}

.contacts-basis__row__adress__links p a:hover {
   color: #6eeee4;
}

.map {
   height: 240px;
   width: 100%;
}

/*-------------------------------FOOTER---------------------------------*/


.footer {
   background-color: #262b2e;
   padding: 4% 0 4% 0;
}

.footer-basis {
   display: -ms-flexbox;
   display: flex;
   -ms-flex-direction: column;
   flex-direction: column;
   text-align: center;
}

.footer-basis__social__title {
   opacity: 0.8;
   font-family: 'Raleway', sans-serif;
   font-size: 16px;
   line-height: 1.4;
   letter-spacing: 0.01em;
   color: #ffffff;
   text-transform: uppercase;
   margin: 0 0 2% 0;
}

.footer-basis__social__links {
   display: -ms-flexbox;
   display: flex;
   -ms-flex-pack: center;
   justify-content: center;
   margin: 0 0 3% 0;
}

.footer-basis__social__links a {
   margin: 0 10px 0 0;
}

.footer-basis__social__links a:last-child {
   margin: 0;
}

.icon {
   background-color: rgba(138, 138, 138, 0.4);
   padding: 10px;
   width: 40px;
   height: 40px;
   fill: #ffffff;
   transition-duration: 0.5s;
}

.icon:hover {
   background-color: #6eeee4;
   fill: #000000;
}

.footer-basis__text {
   opacity: 0.4;
   font-family: 'Raleway', sans-serif;
   font-size: 16px;
   line-height: 1.4;
   font-weight: 500;
   letter-spacing: 0.01em;
   color: #ffffff;
}

.hide{
   display: none;
}
