@media only screen and (max-width:1200px) {

   .container {
      max-width: 1000px;
   }

   .intro_basis__header__menu__links {
      position: absolute;
      width: 40%;
      height: 70%;
      top: 100px;
      right: 40px;
   }

   .intro_basis__header__menu__links li a {
      font-size: 25px;
   }

   /*---РАБОТЫ---*/

   .works_basis__row {
      justify-content: space-around;
   }

   .works_basis__row__item {
      -ms-flex: 0 1 320px;
      flex: 0 1 320px;
      margin: 0 5px 10px 5px;
   }

   /*---OUR SERVICES отдельным файлом---*/


   /*---OUR TEAM отдельным файлом---*/

   /*стили строки с фотографиями команды*/

   .team_basis__row {
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      justify-content: space-around;
   }

   .team_basis__row__item {
      -ms-flex: 0 1 370px;
      flex: 0 1 370px;
      margin: 0 0 15px 0;
   }


   /*---ОТЗЫВЫ---*/

   /*---КОНТАКТЫ---*/

   .contacts_basis__row {
      display: flex;
      justify-content: space-between;
   }

}


@media only screen and (max-width:992px) {

   .container {
      max-width: 800px;
   }

   /*---ИНТРО---*/

   .intro_basis {
      padding: 30px 0 10px 0;
   }

   /*ИНТРО шапка*/

   .intro_basis__header {
      margin: 0 0 150px 0;
   }

   .intro_basis__header__icon {
      border: 4px solid #000000;
      font-size: 15px;
   }

   .intro_basis__header__icon span {
      font-size: 19px;
   }

   /*ИНТРО меню-бургер*/

   .intro_basis__header__burger {
      width: 40px;
   }

   .intro_basis__header__burger__line {
      width: 100%;
      margin: 0 0 6px 0;
   }

   /*ИНТРО меню*/

   .intro_basis__header__menu__links {
      top: 80px;
      right: 80px;
   }

   /*ИНТРО основная часть*/

   .intro_basis__body__title {
      margin: 0 0 110px 0;
   }

   .intro_basis__body__title h1,
   h2 {
      font-size: 40px;
      line-height: 45px;
   }

   .intro_basis__body__title h1 {
      margin: 0 0 10px 0;
   }

   .intro_basis__body__button a {
      font-size: 16px;
      padding: 10px 35px;
   }

   .intro_basis__body__image img {
      width: 120px;
   }


   /*---О НАС---*/


   .about_basis {
      padding: 60px 0;
   }

   .title {
      font-size: 32px;
   }

   .subtitle {
      font-size: 15px;
      margin: 0 0 60px 0;
   }

   /*О НАС картинка*/

   .about_basis__row__image {
      flex: 0 1 350px;
      margin: 0 20px 0 0;
   }


   /*О НАС текст*/

   .about_basis__row__text {
      flex: 0 1 460px;
      margin: 0 0 0 20px;
   }

   .about_basis__row__text__block1 {
      margin: 0;
   }

   .about_basis__row__text__block2 {
      display: none;
   }

   /*---РАБОТЫ---*/

   .works_basis {
      padding: 60px 0;
   }

   .works_basis__row__item {
      -ms-flex: 0 1 330px;
      flex: 0 1 330px;
      margin: 0 5px 10px 5px;
   }

   .works_basis__row__item a {
      color: #000000;
   }

   .works_basis__row__item__image {
      width: 300px;
      height: 300px;
   }

   .works_basis__row__item__image__text {
      font-size: 20px;
      padding: 20% 40px;
   }

   /*---OUR SERVICES отдельным файлом---*/

   .services_basis {
      padding: 60px 0;
   }

   /*стили изображений*/
   .services_basis__blocks__row__biggerimage {
      width: 55%;
      height: 300px;
   }

   .services_basis__blocks__row__littleimage {
      width: 40%;
      height: 300px;
   }

   /*стили текста*/


   .services_basis__blocks__row__text {
      padding: 0 30px 25px;
   }

   .services_basis__blocks__row__text__title {
      font-size: 18px;
      line-height: 20px;
      margin: 0 0 15px 0;
   }

   .services_basis__blocks__row__text__subtitle {
      font-size: 16px;
      line-height: 25px;
      margin: 0 0 20px 0;
   }

   .services_basis__blocks__row__text__subtitle p:nth-child(2) {
      display: none;
   }


   /*---OUR TEAM отдельным файлом---*/


   .team_basis__row__item {
      -ms-flex: 0 1 320px;
      flex: 0 1 320px;
      margin: 0 0 10px 0;
   }

   .team_basis__row__item__photo {
      height: 380px;
   }


   /*---КОНТАКТЫ---*/

   .contacts_basis {
      padding: 60px 0;
   }

   /*КОНТАКТЫ формы*/

   .contacts_basis__row__forms {
      height: 400px;
      padding: 15px;
   }

   .form__inputs input::placeholder {
      font-size: 15px;
   }

   .form__inputs input {
      height: 35px;
      margin: 0 0 15px 0;
   }

   .submit__button input {
      width: 220px;
      height: 40px;
      font-size: 16px;
   }

   .form__inputs textarea {
      height: 140px;
      margin: 0 0 20px 0;
   }

   /*КОНТАКТЫ адреса и карта*/

   .contacts_basis__row__adress {
      width: 40%;
      height: 400px;
      padding: 20px;
   }

   .contacts_basis__row__adress__text {
      font-size: 14px;
      line-height: 20px;
      margin: 0 0 20px 0;
   }

   .contacts_basis__row__adress__links {
      font-size: 14px;
      line-height: 20px;
      margin: 0 0 10px 0;
   }

   .map {
      width: 100%;
      height: 200px;
   }

   /*---ФУТЕР---*/

   .footer {
      padding: 30px 0 25px 0;
   }

   .footer_basis__social__title {
      font-size: 14px;
      line-height: 20px;
      margin: 0 0 15px 0;
   }

   .footer_basis__social__links {
      margin: 0 0 20px 0;
   }


   .icon {
      padding: 7px;
      width: 30px;
      height: 30px;
   }

   .footer_basis__text {
      font-size: 14px;
      line-height: 20px;
   }
}


@media only screen and (max-width:768px) {

   .container {
      max-width: 600px;
   }

   /*---ИНТРО---*/

   .intro_basis {
      padding: 20px 0 10px 0;
   }

   /*ИНТРО шапка*/

   .intro_basis__header {
      margin: 0 0 120px 0;
   }

   .intro_basis__header__icon {
      border: 4px solid #000000;
      font-size: 16px;
   }

   .intro_basis__header__icon span {
      font-size: 18px;
   }

   /*ИНТРО меню-бургер*/

   .intro_basis__header__burger {
      width: 35px;
   }

   .intro_basis__header__burger__line {
      margin: 0 0 4px 0;
   }

   /*ИНТРО меню*/

   .intro_basis__header__menu__links {
      top: 60px;
      right: 75px;
      height: 60%;
   }

   .intro_basis__header__menu__links li a {
      font-size: 23px;
   }

   /*ИНТРО основная часть*/

   .intro_basis__body__title {
      margin: 0 0 80px 0;
   }

   .intro_basis__body__title h1,
   h2 {
      font-size: 35px;
      line-height: 40px;
   }

   .intro_basis__body__title h1 {
      margin: 0 0 10px 0;
   }

   .intro_basis__body__button a {
      font-size: 14px;
      padding: 10px 30px;
   }

   .intro_basis__body__image img {
      width: 100px;
   }


   /*---О НАС---*/


   .about_basis {
      padding: 30px 0;
   }

   .title {
      font-size: 26px;
   }

   .subtitle {
      font-size: 15px;
      margin: 0 0 40px 0;
   }

   /*О НАС текст*/

   .about_basis__row__text {
      flex: 0 1 460px;
      margin: 0 0 0 20px;

   }

   .about_basis__row__text__block__title {
      font-size: 15px;
      font-weight: 700;
      margin: 0 0 15px 0;
   }

   .about_basis__row__text__block__subtitle {
      font-size: 14px;
      line-height: 24px;
   }

   /*---РАБОТЫ---*/

   .works_basis {
      padding: 30px 0;
   }

   .works_basis__row__item {
      -ms-flex: 0 1 270px;
      flex: 0 1 270px;
   }

   .works_basis__row__item__image {
      width: 250px;
      height: 250px;
   }

   .works_basis__row__item__image__text {
      font-size: 18px;
      padding: 10% 20px;
   }

   /*---OUR SERVICES отдельным файлом---*/

   .services_basis {
      padding: 30px 0;
   }

   /*стили изображений*/
   .services_basis__blocks__row__biggerimage {
      width: 55%;
      height: 300px;
   }

   .services_basis__blocks__row__littleimage {
      width: 40%;
      height: 300px;
   }

   /*стили текста*/


   .services_basis__blocks__row__text {
      padding: 0 15px 20px;
   }

   .services_basis__blocks__row__text__title {
      font-size: 16px;
      line-height: 18px;
      margin: 0 0 20px 0;
   }

   .services_basis__blocks__row__text__subtitle {
      font-size: 14px;
      line-height: 17px;
      margin: 0 0 20px 0;
   }

   .services_basis__blocks__row__text__button a {
      font-size: 16px;
   }

   .services_basis__blocks__row__text__button a:hover {
      font-size: 18px;
   }


   /*---OUR TEAM отдельным файлом---*/


   .team_basis__row__item {
      -ms-flex: 0 1 250px;
      flex: 0 1 250px;
      margin: 0 0 10px 0;
   }

   .team_basis__row__item__photo {
      height: 280px;
   }

   .team_basis__row__item__photo__block {
      padding: 0 10px;
   }

   .block__text__title {
      margin: 0 0 10px 0;
      font-size: 14px;
   }

   .block__text__title span {
      font-size: 13px;
   }

   .block__text__subtitle {
      font-size: 13px;
      line-height: 15px;
      margin: 0 0 15px 0;
   }

   /*---ОТЗЫВЫ---*/

   .feedback_basis {
      padding: 30px 0;
   }

   .feedback_basis__row__image {
      flex: 0 1 320px;
      margin: 0 20px 0 0;
   }

   .feedback_basis__row__image img {
      width: 100%;
      box-shadow: 2px 6px 24px 0px rgba(19, 19, 21, 0.17);
      border-radius: 3px;
   }



   .feedback_basis__row__rightblock {
      margin: 0 0 0 20px;
      width: 620px;
   }

   .feedback_basis__row__rightblock__text {
      padding: 20px 10px;
   }

   .feedback_basis__row__text__title {
      font-size: 15px;
      margin: 0 0 10px 0;
   }

   .feedback_basis__row__text__title span {
      font-size: 16px;
   }

   .feedback_basis__row__text__subtitle {
      font-size: 14px;
      line-height: 17px;
      margin: 0 0 15px 0;
   }

   /*---КОНТАКТЫ---*/

   .contacts_basis {
      padding: 30px 0;
   }

   /*КОНТАКТЫ формы*/

   .contacts_basis__row__forms {
      width: 58%;
      height: 360px;
   }

   .form__inputs input::placeholder {
      font-size: 15px;
      line-height: 15px;
   }

   .form__inputs input {
      height: 35px;
      margin: 0 0 15px 0;
      font-size: 15px;
   }

   .submit__button input {
      width: 200px;
      height: 30px;
      font-size: 15px;
   }

   .form__inputs textarea {
      height: 120px;
      font-size: 15px;
      margin: 0 0 20px 0;
   }

   /*КОНТАКТЫ адреса и карта*/

   .contacts_basis__row__adress {
      height: 360px;
      padding: 20px;
   }

   .contacts_basis__row__adress__text {
      font-size: 15px;
      line-height: 20px;
      margin: 0 0 20px 0;
   }

   .contacts_basis__row__adress__links {
      font-size: 15px;
      line-height: 20px;
      margin: 0 0 10px 0;
   }

   .map {
      height: 150px;
   }

   /*---ФУТЕР---*/

   .footer {
      padding: 20px 0 15px 0;
   }

   .footer_basis__social__title {
      font-size: 13px;
      line-height: 15px;
      margin: 0 0 10px 0;
   }

   .footer_basis__social__links {
      margin: 0 0 15px 0;
   }


   .icon {
      padding: 7px;
      width: 25px;
      height: 25px;
   }

   .footer_basis__text {
      font-size: 12px;
      line-height: 14px;
   }
}


@media only screen and (max-width:600px) {

   .container {
      max-width: 400px;
   }

   /*---ИНТРО---*/

   .intro_basis {
      padding: 10px 0 5px 0;
   }

   /*ИНТРО шапка*/

   .intro_basis__header {
      margin: 0 0 80px 0;
   }

   .intro_basis__header__icon {
      border: 3px solid #000000;
      font-size: 14px;
   }

   .intro_basis__header__icon span {
      font-size: 16px;
   }


   /*ИНТРО меню*/

   .intro_basis__header__menu__links {
      top: 60px;
      right: 100px;
      height: 50%;
      width: 60%;
   }

   .intro_basis__header__menu__links li a {
      font-size: 18px;
   }

   /*ИНТРО основная часть*/

   .intro_basis__body__title {
      margin: 0 0 60px 0;
   }

   .intro_basis__body__title h1,
   h2 {
      font-size: 30px;
      line-height: 35px;
   }

   .intro_basis__body__button a {
      font-size: 14px;
      padding: 10px 20px;
   }

   .intro_basis__body__image img {
      width: 80px;
   }


   /*---О НАС---*/


   .about_basis {
      padding: 30px 0;
   }

   .title {
      font-size: 22px;
   }

   .subtitle {
      font-size: 12px;
      margin: 0 0 30px 0;
   }

   /*О НАС текст*/

   .about_basis__row__text {
      height: 200px;
      overflow: hidden;
   }

   .about_basis__row__text__block__title {
      font-size: 13px;
      margin: 0 0 15px 0;
   }

   .about_basis__row__text__block__subtitle {
      font-size: 11px;
      line-height: 16px;
   }

   /*---РАБОТЫ---*/

   .works_basis__row__item {
      -ms-flex: 0 1 170px;
      flex: 0 1 170px;
   }

   .works_basis__row__item__image {
      width: 150px;
      height: 150px;
   }

   .works_basis__row__item__image__text {
      font-size: 13px;
      line-height: 13px;
      padding: 30% 15px;
   }

   .works_basis__row__item__image__text p:nth-child(2) {
      display: none;
   }

   .works_basis__row__item__image__text a {
      margin: 5px 0 0 0;
      background: url(../img/icons/arrow2.svg) no-repeat;
      background-position: 50px;
      color: #000000;
      font-weight: 600;
      font-size: 16px;
   }

   /*---OUR SERVICES отдельным файлом---*/

   /*стили изображений*/
   .services_basis__blocks__row__biggerimage {
      width: 55%;
      height: 200px;
   }

   .services_basis__blocks__row__littleimage {
      width: 40%;
      height: 200px;
   }

   /*стили текста*/


   .services_basis__blocks__row__text {
      padding: 0 15px 10px;
   }

   .services_basis__blocks__row__text__title {
      font-size: 16px;
      line-height: 18px;
      margin: 0 0 30px 0;
   }

   .services_basis__blocks__row__text__subtitle {
      display: none;
   }

   .services_basis__blocks__row__text__button a {
      font-size: 16px;
   }

   .services_basis__blocks__row__text__button a:hover {
      font-size: 18px;
   }


   /*---OUR TEAM отдельным файлом---*/


   .team_basis__row__item {
      -ms-flex: 0 1 180px;
      flex: 0 1 180px;
      margin: 0 0 10px 0;
   }

   .team_basis__row__item__photo {
      height: 220px;
   }

   .team_basis__row__item__photo__block {
      padding: 0 10px;
   }

   .block__text__title {
      margin: 0 0 10px 0;
      font-size: 11px;
   }

   .block__text__title span {
      font-size: 12px;
   }

   .block__text__subtitle {
      font-size: 11px;
      line-height: 13px;
      margin: 0 0 10px 0;
   }

   /*---ОТЗЫВЫ---*/

   .feedback_basis {
      padding: 30px 0;
   }

   .feedback_basis__row__image {
      flex: 0 1 320px;
      margin: 0 20px 0 0;
   }

   .feedback_basis__row__image img {
      width: 100%;
      box-shadow: 2px 6px 24px 0px rgba(19, 19, 21, 0.17);
      border-radius: 3px;
   }



   .feedback_basis__row__rightblock {
      margin: 0 0 0 20px;
      width: 650px;

   }

   .feedback_basis__row__rightblock__text {
      padding: 10px;
   }

   .feedback_basis__row__text__title {
      font-size: 11px;
      margin: 0 0 10px 0;
   }

   .feedback_basis__row__text__title span {
      font-size: 12px;
   }

   .feedback_basis__row__text__subtitle {
      font-size: 11px;
      line-height: 15px;
      margin: 0 0 10px 0;
   }

   /*---КОНТАКТЫ---*/

   /*КОНТАКТЫ формы*/

   .contacts_basis__row__forms {
      width: 58%;
      height: 300px;
   }

   .form__inputs input::placeholder {
      font-size: 12px;
      line-height: 12px;
   }

   .form__inputs input {
      height: 25px;
      margin: 0 0 10px 0;
      font-size: 12px;
   }

   .submit__button input {
      width: 150px;
      height: 30px;
      font-size: 12px;
   }

   .form__inputs textarea {
      height: 100px;
      font-size: 12px;
   }

   /*КОНТАКТЫ адреса и карта*/

   .contacts_basis__row__adress {
      height: 300px;
   }

   .contacts_basis__row__adress__text {
      font-size: 12px;
      line-height: 15px;
      margin: 0 0 15px 0;
   }

   .contacts_basis__row__adress__links {
      font-size: 12px;
      line-height: 15px;
      margin: 0 0 10px 0;
   }

   .map {
      height: 120px;
   }

   /*---ФУТЕР---*/

   .footer {
      padding: 20px 0 15px 0;
   }

   .footer_basis__social__title {
      font-size: 13px;
      line-height: 15px;
      margin: 0 0 10px 0;
   }

   .footer_basis__social__links {
      margin: 0 0 15px 0;
   }


   .icon {
      padding: 7px;
      width: 25px;
      height: 25px;
   }

   .footer_basis__text {
      font-size: 12px;
      line-height: 14px;
   }
}


@media only screen and (max-width:500px) {
   .intro_basis__header__menu__links {
      top: 60px;
      right: 50px;
      height: 50%;
      
   }
}
