@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #1D1B1C;
}

body .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  overflow: hidden;
  z-index: 30;
  position: relative;
}

body .content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  z-index: 25;
}

body .container {
  padding: 0 50px 0;
  max-width: 1100px;
  margin: 0 auto;
}

@media (max-width: 600px) {
  body .container {
    padding: 0 20px 0;
  }
}

body .subtitle {
  font-size: 2.6rem;
  letter-spacing: 0.03em;
  margin: 0 0 17px 0;
}

@media (max-width: 600px) {
  body .subtitle {
    font-size: 2.1rem;
    line-height: 1;
  }
}

@media (max-width: 500px) {
  body .subtitle {
    font-size: 2rem;
  }
}

body .text_style {
  font-size: 1.7rem;
  line-height: 2rem;
  letter-spacing: 0.03em;
}

@media (max-width: 600px) {
  body .text_style {
    font-size: 1.5rem;
    line-height: 1.5;
  }
}

@media (max-width: 500px) {
  body .text_style {
    font-size: 1.4rem;
  }
}

body .title {
  text-align: right;
  color: #ffffff;
  font-size: 3.2rem;
  line-height: 1.4;
  letter-spacing: 0.03em;
  margin: 0 0 6% 0;
}

@media (max-width: 600px) {
  body .title {
    font-size: 2.7rem;
    line-height: 1;
  }
}

@media (max-width: 500px) {
  body .title {
    font-size: 2.3rem;
  }
}

body .input_text {
  font-size: 1.3rem;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #ffffff;
}

body .intro {
  padding: 2% 0 3% 0;
}

body .portfolio {
  padding: 30px 0 50px 0;
}

body .contacts {
  padding: 30px 0 50px 0;
}

body .footer {
  padding: 25px 0;
}

body .mobile_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 100;
  padding: 3%;
  background-color: #61b2e0;
}

@media (min-width: 769px) {
  body .mobile_nav {
    display: none;
  }
}

body .mobile_nav .close {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

body .mobile_nav .close img {
  width: 30px;
  height: 30px;
}

body .mobile_nav .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 15% 0;
}

body .mobile_nav .links li {
  margin: 0 0 70px 0;
}

body .mobile_nav .links li a {
  text-transform: uppercase;
  font-size: 1.8rem;
  line-height: 1.2;
  letter-spacing: 0.05em;
  color: #ffffff;
}

@media (min-width: 600px) {
  body .mobile_nav .links li a {
    font-size: 2.1rem;
    line-height: 1.2;
  }
}

body .mobile_nav .links li:hover a, body .mobile_nav .links li:active a {
  color: #000000;
}

/* ОСНОВНАЯ ЧАСТЬ И ОФФЕР */
.intro_basis {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #ffffff;
}

.intro_basis .nav {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.intro_basis .nav .burger {
  display: none;
  width: 80px;
  height: 80px;
  background-color: #61b2e0;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  z-index: 50;
}

@media (max-width: 768px) {
  .intro_basis .nav .burger {
    display: block;
  }
}

@media (max-width: 600px) {
  .intro_basis .nav .burger {
    width: 70px;
    height: 70px;
  }
}

@media (max-width: 350px) {
  .intro_basis .nav .burger {
    width: 60px;
    height: 60px;
  }
}

.intro_basis .nav .burger .burger__lines {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro_basis .nav .burger .burger__lines .line {
  background-color: #ffffff;
  width: 100%;
  height: 4px;
  margin: 0 0 8px 0;
}

@media (max-width: 600px) {
  .intro_basis .nav .burger .burger__lines .line {
    height: 3px;
  }
}

.intro_basis .nav .burger .burger__lines .line:last-child {
  margin: 0;
}

.intro_basis .nav .burger .burger__lines:focus .line {
  background-color: #000000;
}

.intro_basis .nav .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

@media (max-width: 768px) {
  .intro_basis .nav .links {
    display: none;
  }
}

.intro_basis .nav .links li {
  margin: 0 20px 0;
}

.intro_basis .nav .links li:last-child {
  margin: 0;
}

.intro_basis .nav .links li a {
  font-size: 1.8rem;
  line-height: 1.2;
  color: #ffffff;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.intro_basis .nav .links li a:hover {
  color: #61b2e0;
}

.intro_basis .offer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin: 15% 0 3% 0;
}

.intro_basis .offer h1 {
  font-size: 5.7rem;
  line-height: 1.2;
  letter-spacing: 0.03em;
  margin: 0 0 30px 0;
}

@media (max-width: 768px) {
  .intro_basis .offer h1 {
    font-size: 5.2rem;
    line-height: 1;
  }
}

@media (max-width: 600px) {
  .intro_basis .offer h1 {
    font-size: 5rem;
  }
}

@media (max-width: 500px) {
  .intro_basis .offer h1 {
    font-size: 3.5rem;
  }
}

@media (max-width: 350px) {
  .intro_basis .offer h1 {
    font-size: 3.2rem;
  }
}

@media (max-width: 310px) {
  .intro_basis .offer h1 {
    font-size: 3rem;
  }
}

.intro_basis .offer .paragraphs {
  font-size: 1.7rem;
  line-height: 1.2;
  letter-spacing: 0.06em;
}

@media (max-width: 768px) {
  .intro_basis .offer .paragraphs {
    width: 100%;
    font-size: 1.5rem;
    line-height: 1.3;
  }
}

@media (max-width: 600px) {
  .intro_basis .offer .paragraphs {
    font-size: 1.3rem;
    line-height: 1.4;
  }
}

@media (max-width: 500px) {
  .intro_basis .offer .paragraphs {
    font-size: 1rem;
    line-height: 1.4;
  }
}

.intro_basis .offer .paragraphs p {
  margin: 0 0 2% 0;
}

.intro_basis .offer .paragraphs p:last-child {
  margin: 0;
}

.intro_basis .skills .skills-more {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  cursor: pointer;
  margin: 0 0 10px 0;
}

.intro_basis .skills .skills-more p {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 2.3rem;
  line-height: 1.1;
  color: #61b2e0;
}

@media (max-width: 500px) {
  .intro_basis .skills .skills-more p {
    font-size: 1.8rem;
    line-height: 1;
  }
}

.intro_basis .skills .skills-more p img {
  position: absolute;
  right: -30px;
  bottom: 5px;
  width: 20px;
  height: 20px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

@media (max-width: 500px) {
  .intro_basis .skills .skills-more p img {
    width: 17px;
    height: 17px;
    bottom: 2px;
    right: -25px;
  }
}

.intro_basis .skills .list {
  margin: 0 0 0 20px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.intro_basis .skills .list ul li {
  font-size: 1.3rem;
  line-height: 1.1;
  margin: 0 0 5px 0;
}

.intro_basis .skills .list ul li:last-child {
  margin: 0;
}

.intro_basis .skills .list ul li::before {
  content: '\25CF';
  color: #61b2e0;
  padding: 0 5px 0 0;
}

@media (max-width: 500px) {
  .intro_basis .skills .list ul li {
    font-size: 1.2rem;
    line-height: 1;
  }
}

/* --------------------- */
/* PORTFOLIO */
.portfolio_basis .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
   -webkit-box-orient: horizontal;
   -webkit-box-direction: reverse;
   -ms-flex-direction: row-reverse;
      flex-direction: row-reverse;
}

.portfolio_basis .row .item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 340px;
          flex: 0 0 340px;
  margin: 0 0 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
}

@media (max-width: 400px) {
  .portfolio_basis .row .item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}

.portfolio_basis .row .item .work-name {
  font-size: 1.3rem;
  line-height: 1.4;
  letter-spacing: 0.03em;
  margin: 10px 0 0 0;
  color: #ffffff;
}

.portfolio_basis .row .item .image {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.portfolio_basis .row .item .image img {
  max-width: 100%;
  max-height: 200px;
}

.portfolio_basis .row .item .line {
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.5);
  margin: 6px 0;
}

.portfolio_basis .row .item .text {
  font-size: 1rem;
  line-height: 1.4;
  letter-spacing: 0.02em;
  margin: 0 0 10px 0;
  color: #ffffff;
}

.portfolio_basis .row .item .more a {
  text-transform: uppercase;
  font-size: 1rem;
  line-height: 1.2;
  font-weight: 500;
  color: #ffffff;
}

.portfolio_basis .row .item .more a:hover {
  color: #61b2e0;
}

/* -------------- */
/* CONTACTS */
.contacts_basis {
  color: #000000;
  z-index: 10;
}

.contacts_basis .block .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts_basis .block .social .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  margin: 0 0 3% 0;
}

@media (max-width: 768px) {
  .contacts_basis .block .social .link {
    margin: 0 0 20px 0;
  }
}

.contacts_basis .block .social .link:last-child {
  margin: 0;
}

.contacts_basis .block .social .link .icon {
  display: block;
  width: 25px;
  height: 25px;
  fill: #ffffff;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.contacts_basis .block .social .link p {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 0 0 0 10px;
  color: #ffffff;
  font-size: 1.2rem;
  line-height: 1;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.contacts_basis .block .social .link:hover p {
  color: #61b2e0;
}

.contacts_basis .block .social .link:hover .icon {
  fill: #61b2e0;
}

/* --------------------- */
/* FOOTER */
.footer .footer__text {
  text-align: center;
  font-size: 1.1rem;
  color: #ffffff;
}

/* ---- */
.hide {
  display: none;
}

.rotate {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
