@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: 'Montserrat', sans-serif;
  /*

   .contacts {
      padding: 30px 0 50px 0;
      background-color: #e5dec4;
   }*/
}

body .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

body .content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

body .container {
  padding: 0 50px 0;
  max-width: 1300px;
  margin: 0 auto;
}

@media (max-width: 600px) {
  body .container {
    padding: 0 20px 0;
  }
}

body .subtitle {
  font-weight: 500;
  font-size: 2.6rem;
  letter-spacing: 0.03em;
  margin: 0 0 17px 0;
}

@media (max-width: 600px) {
  body .subtitle {
    font-size: 2.2rem;
    line-height: 1;
  }
}

@media (max-width: 500px) {
  body .subtitle {
    font-size: 2rem;
  }
}

body .text_style {
  font-size: 1.7rem;
  line-height: 2rem;
  letter-spacing: 0.03em;
}

@media (max-width: 600px) {
  body .text_style {
    font-size: 1.5rem;
    line-height: 1.5;
  }
}

@media (max-width: 500px) {
  body .text_style {
    font-size: 1.4rem;
  }
}

body .title {
  text-align: right;
  font-weight: 500;
  font-size: 3.4rem;
  line-height: 1.4;
  letter-spacing: 0.03em;
  margin: 0 0 50px 0;
}

@media (max-width: 600px) {
  body .title {
    font-size: 2.7rem;
    line-height: 1;
  }
}

@media (max-width: 500px) {
  body .title {
    font-size: 2.3rem;
  }
}

body .input_text {
  font-size: 1.3rem;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

body .intro {
  padding: 2% 0 1% 0;
  background-color: #f7f8e8;
}

body .technology {
  padding: 30px 0 60px 0;
  background-color: #e5dec4;
}

body .portfolio {
  padding: 30px 0 50px 0;
  background-color: #f7f8e8;
}

body .footer {
  padding: 25px 0;
  background-color: #e5dec4;
}

body .mobile_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 100;
  padding: 3%;
  background-color: #7b957c;
}

@media (min-width: 769px) {
  body .mobile_nav {
    display: none;
  }
}

body .mobile_nav .close {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

body .mobile_nav .close img {
  width: 30px;
  height: 30px;
}

body .mobile_nav .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15% 0;
}

body .mobile_nav .links li {
  margin: 0 0 70px 0;
}

body .mobile_nav .links li:hover {
  border-bottom: 2px solid #d57f80;
}

body .mobile_nav .links li a {
  text-transform: uppercase;
  font-size: 1.8rem;
  line-height: 1.2;
  letter-spacing: 0.05em;
  color: #ffffff;
}

@media (min-width: 600px) {
  body .mobile_nav .links li a {
    font-size: 2.1rem;
    line-height: 1.2;
  }
}

/* ОСНОВНАЯ ЧАСТЬ И ОФФЕР */
.intro_basis {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.intro_basis .nav {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin: 0 0 15% 0;
}

.intro_basis .nav .burger {
  display: none;
  width: 80px;
  height: 80px;
  background-color: #7b957c;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  z-index: 50;
}

.intro_basis .nav .burger:hover {
  background-color: #d57f80;
}

@media (max-width: 768px) {
  .intro_basis .nav .burger {
    display: block;
  }
}

@media (max-width: 600px) {
  .intro_basis .nav .burger {
    width: 70px;
    height: 70px;
  }
}

@media (max-width: 350px) {
  .intro_basis .nav .burger {
    width: 60px;
    height: 60px;
  }
}

.intro_basis .nav .burger .burger__lines {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro_basis .nav .burger .burger__lines .line {
  background-color: #ffffff;
  width: 100%;
  height: 4px;
  margin: 0 0 8px 0;
}

@media (max-width: 600px) {
  .intro_basis .nav .burger .burger__lines .line {
    height: 3px;
  }
}

.intro_basis .nav .burger .burger__lines .line:last-child {
  margin: 0;
}

.intro_basis .nav .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 768px) {
  .intro_basis .nav .links {
    display: none;
  }
}

.intro_basis .nav .links .bold {
  font-weight: 500;
}

.intro_basis .nav .links li {
  margin: 0 30px 0 0;
}

.intro_basis .nav .links li:last-child {
  margin: 0;
}

.intro_basis .nav .links li a {
  font-size: 1.8rem;
  line-height: 1.2;
  color: #000000;
}

.intro_basis .nav .links li a:hover {
  border-bottom: 2px solid #d57f80;
}

.intro_basis .offer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin: 0 0 10% 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro_basis .offer h1 {
  text-align: center;
  font-weight: 500;
  font-size: 5.7rem;
  line-height: 1.2;
  letter-spacing: 0.03em;
  margin: 0 0 30px 0;
}

@media (max-width: 768px) {
  .intro_basis .offer h1 {
    font-size: 5.2rem;
    line-height: 1;
  }
}

@media (max-width: 600px) {
  .intro_basis .offer h1 {
    font-size: 5rem;
  }
}

@media (max-width: 500px) {
  .intro_basis .offer h1 {
    font-size: 3.5rem;
  }
}

@media (max-width: 350px) {
  .intro_basis .offer h1 {
    font-size: 3rem;
  }
}

@media (max-width: 350px) {
  .intro_basis .offer h1 {
    font-size: 2.7rem;
  }
}

.intro_basis .offer .paragraphs {
  text-align: center;
  width: 70%;
  font-size: 1.7rem;
  line-height: 1.2;
  letter-spacing: 0.06em;
}

@media (max-width: 768px) {
  .intro_basis .offer .paragraphs {
    width: 100%;
    font-size: 1.5rem;
    line-height: 1.3;
  }
}

@media (max-width: 600px) {
  .intro_basis .offer .paragraphs {
    font-size: 1.3rem;
    line-height: 1.4;
  }
}

@media (max-width: 500px) {
  .intro_basis .offer .paragraphs {
    font-size: 1rem;
    line-height: 1.4;
  }
}

.intro_basis .offer .paragraphs p {
  margin: 0 0 20px 0;
}

.intro_basis .offer .paragraphs p:last-child {
  margin: 0;
}

.intro_basis .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.intro_basis .bottom .links .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.intro_basis .bottom .links .social a {
  margin: 0 20px 0 0;
}

.intro_basis .bottom .links .social a:last-child {
  margin: 0;
}

.intro_basis .bottom .links .social a .icon {
  display: block;
  width: 35px;
  height: 35px;
  fill: #7b957c;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

@media (max-width: 500px) {
  .intro_basis .bottom .links .social a .icon {
    width: 30px;
    height: 30px;
  }
}

.intro_basis .bottom .links .social a .icon:hover {
  opacity: 1;
  fill: #d57f80;
}

/* --------------------- */
/* БЛОК ТЕХНОЛОГИИ */
.technology_basis .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (max-width: 768px) {
  .technology_basis .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.technology_basis .row .tech {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 768px) {
  .technology_basis .row .tech {
    margin: 0 0 30px 0;
  }
  .technology_basis .row .tech:last-child {
    margin: 0;
  }
}

.technology_basis .row .tech ul li {
  cursor: default;
  list-style: disc;
  margin: 0 0 3% 10%;
}

/* --------------- */
/* БЛОК ПОРТФОЛИО */
.portfolio_basis .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.portfolio_basis .row .item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 340px;
          flex: 0 0 340px;
  margin: 0 0 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
}

@media (max-width: 400px) {
  .portfolio_basis .row .item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}

.portfolio_basis .row .item .image {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.portfolio_basis .row .item .image a img {
  width: 100%;
  border-radius: 10px;
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

.portfolio_basis .row .item .image a img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.portfolio_basis .row .item .text {
  text-align: center;
  font-size: 1.3rem;
  line-height: 1.4;
  letter-spacing: 0.03em;
  margin: 20px 0 0 0;
}

/* -------------- */
/* БЛОК КОНТАКТЫ И ФОРМА */
/* 
.contacts_basis {

   .block {
      .text {
         font-weight: 500;
         font-size: 2rem;
         line-height: 1.5;
         letter-spacing: 0.01em;
         margin: 0 0 8% 0;

         @media(max-width:600px) {
            font-size: 1.7rem;
            line-height: 1.5;
         }

         @media(max-width:500px) {
            font-size: 1.5rem;
         }
      }

      .forms {
         max-width: 60%;
         margin: auto;
         display: flex;
         flex-direction: column;

         @media(max-width:768px) {
            max-width: 90%;
         }


         .little__forms {
            display: flex;
            justify-content: space-between;
            margin: 0 0 30px 0;
            max-width: 100%;

            @media(max-width:768px) {
               flex-direction: column;
            }

            .size {
               width: 100%;
               height: 45px;
            }

            .name {
               width: 45%;
               margin: 0 20px 0 0;

               @media(max-width:768px) {
                  margin: 0 0 20px 0;
                  width: 100%;
               }
            }

            .email {
               width: 45%;

               @media(max-width:768px) {
                  width: 100%;
               }
            }

            input {
               margin: 5px 0 0 0;
               padding: 0 0 0 10px;
               overflow: auto;
               font-size: 15px;
               background-color: #ffffff;
               transition-duration: 0.5s;

               &:focus {
                  border: 3px solid $red;
               }
            }
         }

         .bigger__forms {
            display: flex;
            flex-direction: column;
            margin: 0 0 20px 0;

            .bigger_size {
               width: 100%;
               height: 200px;
            }

            textarea {
               margin: 5px 0 0 0;
               padding: 10px 0 0 10px;
               overflow: auto;
               font-size: 15px;
               background-color: #ffffff;
               transition-duration: 0.5s;
               resize: none;

               &:focus {
                  border: 3px solid $red;
               }

            }
         }

         .button_submit {
            text-align: right;
            align-self: center;

            .button-text {
               font-size: 1.5rem;
               line-height: 1.2;
               letter-spacing: 0.03em;
               width: 190px;
               height: 35px;
               background-color: $green;
               border-radius: 10px;

               &:active {
                  background-color: $red;
               }

               @media(max-width:600px) {
                  font-size: 1.2rem;
                  line-height: 1;
                  width: 160px;
                  height: 30px;
               }

            }
         }
      }
   }


}
*/
/* --------------------- */
/* ФУТЕР */
.footer__text {
  text-align: center;
  font-size: 1.1rem;
}

/* ---- */
.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hide {
  display: none;
}
