@import '../scss/nullstyle';
@import '../scss/variables';



body {
   font-family: 'Roboto', sans-serif;
   background-color: #1D1B1C;
   background-image: url(img/background.png);

   .wrapper {
      display: flex;
      flex-direction: column;
      min-height: 100%;
      overflow: hidden;
      z-index: 30;
      position: relative;
   }

   .content {
      flex: 1 1 auto;
      z-index: 25;
   }

   .container {
      padding: 0 50px 0;
      max-width: 1100px;
      margin: 0 auto;

      @media(max-width:600px) {
         padding: 0 20px 0;
      }

   }

   .subtitle {
      font-size: 2.6rem;
      letter-spacing: 0.03em;
      margin: 0 0 17px 0;

      @media(max-width:600px) {
         font-size: 2.1rem;
         line-height: 1;
      }

      @media(max-width:500px) {
         font-size: 2rem;
      }
   }

   .text_style {
      font-size: 1.7rem;
      line-height: 2rem;
      letter-spacing: 0.03em;

      @media(max-width:600px) {
         font-size: 1.5rem;
         line-height: 1.5;
      }

      @media(max-width:500px) {
         font-size: 1.4rem;
      }
   }

   .title {
      text-align: center;
      color: #ffffff;
      font-size: 3.2rem;
      line-height: 1.4;
      letter-spacing: 0.03em;
      margin: 0 0 6% 0;

      @media(max-width:600px) {
         font-size: 2.7rem;
         line-height: 1;
      }

      @media(max-width:500px) {
         font-size: 2.3rem;
      }
   }

   .input_text {
      font-size: 1.3rem;
      line-height: 1.2;
      letter-spacing: 0.03em;
      color: #ffffff;
   }


   .intro {
      padding: 2% 0 3% 0;
   }

   .portfolio {
      padding: 30px 0 50px 0;
   }

   .contacts {
      padding: 30px 0 50px 0;
   }

   .footer {
      padding: 25px 0;
   }

   .mobile_nav {
      display: flex;
      flex-direction: column;
      position: fixed;
      width: 100%;
      height: 100%;
      z-index: 100;
      padding: 3%;
      background-color: $blue;
      
      @media(min-width:769px){
         display: none;
      }

      .close {
         align-self: flex-end;

         img {
            width: 30px;
            height: 30px;
         }

      }

      .links {
         display: flex;
         flex-direction: column;
         justify-content: space-around;
         align-items: center;
         padding: 15% 0;

         li {
            margin: 0 0 70px 0;

            a {
               text-transform: uppercase;
               font-size: 1.8rem;
               line-height: 1.2;
               letter-spacing: 0.05em;
               color: #ffffff;

               @media(min-width:600px){
                  font-size: 2.1rem;
                  line-height: 1.2;
               }
            }

            &:hover, &:active{
               a{
                  color: #000000;
               }
            }
         }
      }
   }
}



/* ОСНОВНАЯ ЧАСТЬ И ОФФЕР */

.intro_basis {
   display: flex;
   flex-direction: column;
   color: #ffffff;

   .nav {
      align-self: flex-end;

      .burger {
         display: none;
         width: 80px;
         height: 80px;
         background-color: $blue;
         border-radius: 50%;
         padding: 10px;
         cursor: pointer;
         z-index: 50;

         @media(max-width:768px) {
            display: block;
         }

         @media(max-width:600px) {
            width: 70px;
            height: 70px;
         }

         @media(max-width:350px) {
            width: 60px;
            height: 60px;
         }

         .burger__lines {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;
            justify-content: center;
            align-items: center;

            .line {
               background-color: #ffffff;
               width: 100%;
               height: 4px;
               margin: 0 0 8px 0;

               @media(max-width:600px) {
                  height: 3px;
               }

               &:last-child {
                  margin: 0;
               }
            }

            &:focus{
               .line{
                  background-color: #000000;
               }
            }
         }
      }

      .links {
         display: flex;
         flex-wrap: nowrap;

         @media(max-width:768px) {
            display: none;
         }

         li {
            margin: 0 20px 0 ;

            &:last-child {
               margin: 0;
            }

            a {
               font-size: 1.8rem;
               line-height: 1.2;
               color: #ffffff;
               transition-duration: 0.5s;

               &:hover {
                  color: $blue;
               }

            }
         }

      }

   }

   .offer {
      display: flex;
      flex-direction: column;
      flex: 1 1 auto;
      margin: 15% 0 3% 0;


      h1 {
         font-size: 5.7rem;
         line-height: 1.2;
         letter-spacing: 0.03em;
         margin: 0 0 30px 0;

         @media(max-width:768px) {
            font-size: 5.2rem;
            line-height: 1;
         }

         @media(max-width:600px) {
            font-size: 5rem;
         }

         @media(max-width:500px) {
            font-size: 3.5rem;
         }

         @media(max-width:350px) {
            font-size: 3.2rem;
         }

         @media(max-width:310px) {
            font-size: 3rem;
         }
      }

      .paragraphs {
         font-size: 1.7rem;
         line-height: 1.2;
         letter-spacing: 0.06em;

         @media(max-width:768px) {
            width: 100%;
            font-size: 1.5rem;
            line-height: 1.3;
         }

         @media(max-width:600px) {
            font-size: 1.3rem;
            line-height: 1.4;
         }

         @media(max-width:500px) {
            font-size: 1rem;
            line-height: 1.4;
         }

         p {
            margin: 0 0 2% 0;
            &:last-child {
               margin: 0;
            }
         }

      }
   }

   .skills{
      .skills-more{
         display: inline-flex;
         cursor: pointer;
         margin: 0 0 10px 0;
         p{
            position: relative;
            display: inline-flex;
            font-size: 2.3rem;
            line-height: 1.1;
            color: $blue;

            @media(max-width:500px) {
               font-size: 1.8rem;
               line-height: 1;
            }

            img{
               position: absolute;
               right: -30px;
               bottom: 5px;
               width: 20px;
               height: 20px;
               transition-duration: 0.5s;

               @media(max-width:500px) {
                  width: 17px;
                  height: 17px;
                  bottom: 2px;
                  right: -25px;
               }
            }

            
         }
         
      }

      .list{
         margin: 0 0 0 20px;
         transition-duration: 0.5s;

         ul{
            li{
               font-size: 1.3rem;
               line-height: 1.1;
               margin: 0 0 5px 0;

               &:last-child{
                  margin: 0;
               }

               &::before{
                  content: '\25CF';
                  color: $blue;
                  padding: 0 5px 0 0;
               }

               @media(max-width:500px) {
                  font-size: 1.2rem;
                  line-height: 1;
               }
            }
         }
      }

   }
}

/* --------------------- */

/* PORTFOLIO */

.portfolio_basis {

   .title {
      text-align: right;
   }

   .row {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;

      .item {
         flex: 0 0 340px;
         margin: 0 0 30px 0;
         display: flex;
         flex-direction: column;
         justify-content: center;
         padding: 10px;

         @media(max-width:400px) {
            flex: 0 0 100%;
         }

         .work-name {
            font-size: 1.3rem;
            line-height: 1.4;
            letter-spacing: 0.03em;
            margin: 10px 0 0 0;
            color: #ffffff;
         }

         .image {
            flex: 0 1 33.333%;
            margin: auto;
            align-items: center;

            img {
               max-width: 100%;
               max-height: 200px;
            }
         }

         .line{
            width: 100%; 
            height: 1px;
            background-color: rgba($color: #ffffff, $alpha: 0.5);
            margin: 6px 0;
         }

         .text{
            font-size: 1rem;
            line-height: 1.4;
            letter-spacing: 0.02em;
            margin: 0 0 10px 0;
            color: #ffffff;
         }

         .more a{
            text-transform: uppercase;
            font-size: 1rem;
            line-height: 1.2;
            font-weight: 500;
            color: #ffffff;

            &:hover{
               color: $blue;
            }
         }
      }
   }
}

/* -------------- */


/* CONTACTS */
.contacts_basis {
   color: #000000;
   z-index: 10;

   .title {
      text-align: right;
   }

   .block {
      .social {
         display: flex;

         @media (max-width:992px){
            flex-direction: column;
            align-self: flex-start;
            padding: 0 0 5% 0;
         }

         @media (max-width:768px){
            align-self: flex-start;
            min-width: 90%;
            margin: 0 auto;
         }

         .link{
            display: flex;
            transition-duration: 0.5s;
            margin: 0 0 10% 0;
            @media(max-width:768px){
               margin: 0 0 15px 0;
            }

            &:last-child{
               margin: 0;
            }

            .icon {
               display: block;
               width: 25px;
               height: 25px;
               fill: #ffffff;
               transition-duration: 0.5s;

               @media(max-width:500px) {
                  width: 30px;
                  height: 30px;
               }
            }

            p {
               align-self: center;
               margin: 0 0 0 10px;
               color: #ffffff;
               font-size: 1.2rem;
               line-height: 1;
               transition-duration: 0.5s;
            }

            &:hover{
               p{
                  color: $blue;
               }

               .icon{
                  fill: $blue;
               }
            }
         }
   
   
      }
   
   }

}
/* --------------------- */


/* FOOTER */

.footer{
   .footer__text {
      text-align: center;
      font-size: 1.1rem;
      color: #ffffff;
   }
}

/* ---- */

.show {
   display: flex;
}

.hide {
   display: none;
}

.rotate{
   transform: rotate(180deg);
}


.fade-enter-active, .fade-leave-active {
   transition: opacity .5s;
}

.fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */ {
   opacity: 0;
}